# Core Framework
streamlit==1.54.0

# Visualization
plotly
matplotlib
seaborn

# AI & Computer Vision
ultralytics==8.4.14
opencv-python-headless
torch
torchvision

# Data & F1 Specifics
pandas
numpy
fastf1
pillow

# System
psutil
